html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

body {
  color: #333;
  background: linear-gradient(145deg, #7ea5d9, #6a8bb7);
  letter-spacing: 1px;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0);
}

.slides-navigation {
  z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slides-navigation a.prev {
  left: 20px;
  background-image: url(../img/icons/prev.png);
}

.slides-navigation a.next {
  right: 20px;
  background-image: url(../img/icons/next.png);
}

.titleMessage {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 42%;
  z-index: 5;
  text-align: center;
  margin-top: -125px;
}

.titleHeading {
  font-weight: 100;
  position: absolute;
  top: 30%;
  width: 100%;
}

.titleMain {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #ffffff;
}

.titleSub {
  font-weight: 400;
  letter-spacing: 5px;
  color: #ffffff;
}

.section {
  padding: 50px 0px;
}

#about {
  background-color: #ffffff;
}

.aboutImage {
  max-width: 100%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 100%;
}

#stats {
  background-color: #ffffff;
}

.skilltitle {
  margin-bottom: 10px;
}

.skillsSection {
  background: #008299;
  color: white;
}

.contactSection {
  background-color: #008299;
  color: white;
}

.activitiesSection {
  background-color: #ffffff;
  color: #000000;
}

.contactBtn {
  text-transform: uppercase;
  border: 2px solid #ff636e;
  letter-spacing: 0.03em;
  background: #ff636e;
  padding: 7px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #ffffff;
}

.contactBtn:hover {
  color: #ff636e;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.skill {
  text-align: center;
  margin-left: 10px;
}

.chart {
  position: relative;
  width: 152px;
  height: 152px;
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
}

.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.chart .percent {
  line-height: 152px;
  display: inline-block;
  font-size: 25px;
}

.chart .percent:after {
  content: "%";
}

.squareItem {
  margin-top: 30px;
  position: relative;
  margin-bottom: 20px;
}

.squareInnerContainer {
  position: relative;
  padding: 50px 15px 35px;
  text-align: center;
  border: 3px solid #000000;
  border-top: none;
  height: 35vh;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
  content: "";
  position: absolute;
  top: 0px;
  width: 30%;
  border-bottom: 3px solid #000000;
}

.squareInnerContainer:before {
  right: 0px;
}

.squareInnerContainer:after {
  left: 0px;
}

.squareContent h2 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 400;
  color: #000000;
}

.squareContent h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.squareIcon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 40%;
  height: 60px;
  font-size: 45px;
  margin-left: -20%;
  color: #ff636e;
}

#portfolio {
  background-color: #ffffff;
}

.filter {
  text-align: center;
  width: 100%;
}

.filter a {
  color: #ff636e;
  border: 1px solid #ff636e;
  border-radius: 5px;
  padding: 5px 10px;
  display: block;
  font-weight: 500;
}

.filter a:hover {
  text-decoration: none;
}

.filter li {
  display: inline-block;
}

.filter .current {
  background: #ff636e;
  border: 1px solid #ff636e;
  color: #ffffff;
}

.section .heading {
  text-align: center;
  padding-bottom: 40px;
  width: 100%;
}

.itemsContainer {
  width: 100%;
}

.itemsContainer ul {
  text-align: center;
  margin: 40px;
}

.items li {
  display: inline-block;
  padding: 5px;
}

.items li img {
  width: 100%;
}

.items .item {
  position: relative;
  display: block;
  overflow: hidden;
}

.items .icons {
  position: absolute;
  width: 90px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin: -20px auto 0 -47px;
  text-align: center;
  z-index: 3;
}

.items .icons i {
  color: whitesmoke;
  font-size: 20px;
  margin-top: 9px;
}

.items {
  padding: 0;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  margin-top: 40%;
  -webkit-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 10px;
}

.hovereffect a.info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin: 50px 0 0;
  padding: 7px 14px;
}

.hovereffect a.info:hover {
  -webkit-box-shadow: 0 0 5px #fff;
          box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hovereffect:hover h2, .hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}

.hovereffect:hover a.info {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.copyrightSection {
  background-color: black;
  color: whitesmoke;
  padding: 30px 5px;
}

.copyrightSection p {
  margin: 0;
}

#navigation {
  background-color: #092138;
  padding: 20px 10px;
  z-index: 100;
  transition: background-color 1s;
  -webkit-transition: background-color 1s;
  position: fixed;
  width: 100%;
  top: 0;
}

#navigation li {
  padding: 0 20px;
  text-align: center;
  font-weight: 500;
}

#navigation li a {
  color: #ffffff;
  position: relative;
}

#navigation li a::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 3px;
  border-radius: 50px;
  background-color: #ff636e;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(-50%, 0) scaleX(0);
          transform: translate(-50%, 0) scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

#navigation li a:hover::before {
  -webkit-transform: translate(-50%, 0) scaleX(1);
          transform: translate(-50%, 0) scaleX(1);
}

.navbar-brand,
.navbar-brand:hover {
  color: #fff;
}

.navbar-brand img {
  margin-left: 50px;
}

.navbar-toggler-icon {
  background: url(../img/icons/menu.png);
  background-size: 100%;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.loader .inner {
  width: 100%;
  height: 100%;
  background: url(../img/loader.gif) center center no-repeat;
}

.arrowSection {
  text-align: center;
}

.scrollbox {
  width: 100%;
  bottom: 40px;
  position: absolute;
  text-align: center;
  z-index: 7;
}

.scrollbox:hover .arrowdown {
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-name: animateArrow;
          animation-name: animateArrow;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes animateArrow {
  from {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0) translateY(10px);
            transform: translateX(0) translateY(10px);
    opacity: 1;
  }
}

@keyframes animateArrow {
  from {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0) translateY(10px);
            transform: translateX(0) translateY(10px);
    opacity: 1;
  }
}

.scrollheading {
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 7px;
  font-size: 10px;
  margin: 20px;
}

.arrowdown {
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
}

#socialmedia {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.socialmediabtn {
  border-radius: 50px;
  background-color: #ff636e;
  border: 1px solid #ff636e;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#socialmedia i {
  margin-top: 10px;
  font-size: 20px;
  color: #ffffff;
}

.socialmediabtn:hover {
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
}

.profileText p {
  text-align: justify;
}

.resumeBtn {
  text-transform: uppercase;
  border: 2px solid #ff636e;
  letter-spacing: 0.03em;
  background: #ff636e;
  padding: 7px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #ffffff;
}

.resumeBtn:hover {
  color: #ff636e;
  background-color: #ffffff;
  border: 2px solid #ff636e;
}

.categorytitle {
  background-color: #008299;
  color: #ffffff;
  text-align: center;
}

.categorytitle h2 {
  padding: 10px 0px 10px 0px;
}

#portfoliodescription {
  background-color: #ffffff;
}

.projectCard {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 40px;
  background-color: #ffffff;
  margin: 30px 0px 30px 0px;
}

.projectTitle {
  text-align: center;
}

.projectImage {
  max-width: 100%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.owl-carousel .item-video {
  height: 300px;
}

@media only screen and (max-width: 768px) {
  #desktop-slides {
    display: none;
    visibility: hidden;
  }
  #mobile-slides {
    display: block;
    visibility: visible;
  }
}
/*# sourceMappingURL=style.css.map */